.home{
min-height:100vh;
background:linear-gradient(135deg,#667eea,#764ba2);
padding-bottom:40px;
}

.hero{

text-align:center;
padding:80px 20px;
color:white;
animation:fadeIn 1.2s ease;

}

.hero h1{

font-size:48px;
margin-bottom:10px;
font-weight:700;

}

.hero h2{

font-size:30px;
margin-bottom:15px;
font-weight:500;

}

.hero p{

font-size:18px;
max-width:600px;
margin:auto;
margin-bottom:25px;
opacity:0.9;

}

.search{

padding:12px 20px;
width:350px;
max-width:90%;
border:none;
border-radius:30px;
outline:none;
font-size:16px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);

}


/* Animation */

@keyframes fadeIn{

from{
opacity:0;
transform:translateY(30px);
}

to{
opacity:1;
transform:translateY(0px);
}

}
.jobs{
display:grid;
grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
gap:20px;
padding:30px;
}

.job-card{
background:white;
padding:20px;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,0.1);
}
.search{
padding:14px 20px;
width:420px;
max-width:90%;
border:none;
border-radius:30px;
outline:none;
font-size:16px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
margin-top:15px;
}
.nearby-btn{
margin:10px;
padding:8px 15px;
border:none;
background:#4f46e5;
color:white;
border-radius:5px;
cursor:pointer;
}

.nearby-btn:hover{
background:#4338ca;
}